body
{
   background-image: url("../gamepic.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.p
{
   color: red;
   font-size: 650%;
   font-family: Pacifico;
}
#png
{
   z-index: 18;
   left: 400px;
   top: -30px;
   width: 400px;
   position: absolute;
}
marquee
{
   z-index: 10000;
   /*background-image: url('../animate-bird-slide-25.gif');*/
}
.i
{
   color: yellow;
   font-size: 400%;
   font-family: Pacifico;
}
.n
{
   color: blue;
   font-size: 400%;
   font-family: Pacifico;
}
.g
{
   color: green;
   font-size: 400%;
   font-family: Pacifico;
}
.o
{
   color: grey;
   font-size: 400%;
   font-family: Pacifico;
}


.container-fluid
{
   z-index: 12;
   background-image: url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjDnImtpKnTAhUDshQKHZcCA9YQjRwIBw&url=https%3A%2F%2Fwww.pinterest.com%2Fmorgannasims%2Fbackgrounds%2F&psig=AFQjCNHvI-UDdDpTQ1NHje95J4DC4eEbCA&ust=1492435376112431');
}
.col-md-3
{
   text-shadow: 20px 20px 50px green;
   padding: 50px;
   background-color: black;
   color: white;
   opacity: 10%;
   z-index: 14;
   position: relative;
   margin: 0;
}
hover{
   display: none;
}
.col-md-3
{
   /*display: none;*/
   position: relative;
   z-index: 16;
   margin: 0;
}
p
{
   margin: 0px;
}
/*.h:hover
{
   display: none;
}*/
.col-md-3 span
{
   display: none;
}
.col-md-3:hover span
{
   display: block;
   padding: 0px;
   text-decoration: none;
   color: blue;
   box-shadow: 10px 10px 30px green;
   background-color: black;
   position: absolute;
   z-index: 18;
   opacity: 80px;
   margin: 0;
}

.col-md-3:hover
{
   box-shadow: 10px 10px 30px green;
   text-shadow: 20px 20px 50px red;
   display: block;

   padding: 0px;
   margin: 0px;
}
img
{
   z-index: 10;
   position: absolute;
   width: 100%;
}
ul
{
   float: right;
   font-weight: bold;
}


.col-md-6
{
   z-index: 14;
}
button
{
   color: purple;
   height: 40px;
   z-index: 50;

}
hover
{
   display: none;
}
button:hover
{
   box-shadow: 0 0 30px red;
}
a
{
   text-decoration: none;
}
.f
{
   z-index: 27;
}


script
{
   z-index: 60;
}
